/* You can add global styles to this file, and also import other style files */
@use './config-scss/variables.scss';
@use './config-scss/reset.scss';
@use './config-scss/rem-calc.scss';
@use './config-scss/btn.scss';

html {
  font-family: 'Roboto', sans-serif;
  background: var(--primary-color);
}

main {
  width: rem-calc(600);
  margin: 0px 220px;
  box-sizing: border-box;
}
